.Nav{
   align-items: center;
   justify-content: space-around;
   margin: 0;
   padding: 0;
   width: 100%;
   height: 80px;
   display: flex;
   /* background-color: rgb(134, 2, 42); */
   border-bottom: 2px solid #790c0c;
}

.components a{
    text-decoration: none;
    font-weight: bolder;
    font-size: 25px;
}
.title{color:black}

.title:hover{
    color:    orangered;
    transform: translateX(-25px);
}