.background {
  padding-top: 20px;
  position: relative;
  left: 15rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  justify-content: center;
  justify-items: center;

  justify-content: space-around;
  width: 70%;

  height: 70vh;

  margin: 1rem;
  box-shadow: 2px 0px #790c0c;
  /* border: #790c0c solid 1px ; */
  background-color: transparent;
  gap: 2rem;
  padding-bottom: 1rem;
}
.short {
  border-radius: 10px;
  position: relative;
  top: 2px;
  bottom: 2px;
  display: grid;
  width: 400px;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(10px);
}
.long {
  position: relative;
  display: flex;
  width: 400px;
  border-radius: 10px;
  padding: 13px;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: transparent;
  backdrop-filter: blur(10px);
}
label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: white;
}
h6 {
  color: white;
}
.long > textarea {
  position: relative;
  display: flex;
  margin-top: 1.5rem;
  width: 80%;
  background-color: transparent;
  align-content: center;
  color: white;

  text-overflow: clip;
  text-combine-upright: initial;
  text-align-last: initial;
  text-anchor: center;
  height: 8rem;
}
.placeHolder {
  position: relative;
  /* display: flex;
    justify-content: center;  */
  color: white;
  background-color: transparent;
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 2px solid #790c0c;
  width: 150px;
  margin: 2px;
  height: 20px;

  /* justify-items: space-between; */
  align-content: space-between;
  padding: 1px;
}
.placeHolderP {
  color: white;
  background-color: #264653;
  display: flex;
  align-content: center;
  padding-bottom: 1rem;
  height: 20px;
}
h6 {
  color: white;
  margin: 0px;
}

.placeHolderDiet {
  display: grid;
  color: white;

  background-color: transparent;
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 2px solid #790c0c;

  width: 160px;
  max-height: 25px;
  font-size: 12px;
  align-content: center;
}
.button {
  /* display: flex; */
  position: relative;
  left: 13rem;
  color: white;

  background-color: transparent;

  backdrop-filter: filter(14px);
  border-radius: 4px;
  width: 340px;
  height: 30px;
  align-content: center;
  padding: 2px;

  background-color: transparent;
}
.button:hover {
  background-color: orangered;
  /* color: green; */
  color: black;
  border: #790c0c solid 1px;
}
