.background{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(180, 160, 43);
    /* align-content: flex-start;
    flex-direction: column;
    height: 430px;;
} */
}

.placeHolder{
    color: white;
    background-color: brown;
}
.button{
    color:rgb(75, 138, 94);
    background-color:rgb(36, 41, 41);
}
.button:hover{
    background-color: black;
    color: green;
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 1rem;
    padding: 1rem;
    /* display: flex;
	flex-direction: column;
	align-items: center; */
}
