.Home{  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards{
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}


  .serach{
    position: fixed;
    top: 0;
    left: 0;
    justify-content: left;
    justify-items: left;
  }
  
