.card {
  display: grid;
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px #790c0c;
  height: 300px;
  padding: 1.5rem;
  padding-bottom: 1rem;
  backdrop-filter: blur(8px);
  border-radius: 8px;
}

.card:hover {
  transform: translateY(-15px);
}
.title {
  position: relative;
  margin: 1rem;
  height: 28px;
  /* color: #282c34; */
  color: white;
  border-bottom: none;
  text-justify: distribute-all-lines;
  text-decoration: none;
  font-weight: bolder;
  text-decoration: none;
}
.title:hover {
  color: orangered;
}

.Link {
  text-decoration: none;
}
.close {
  margin: 0;
  position: absolute;
  top: 12px;
  left: 90%;
  color: red;
  border-radius: 100px;
  border: 40px solid blueviolet;
  background-color: rgb(97, 96, 96);

  border: 1cm;
}
.close:hover {
  background-color: black;
  color: red;
}

.section {
  height: 90px;
  display: grid;

  align-items: center;

  grid-template: 30px 30px 30px/ 80px 220px;
}

section > p {
  display: flex;
  align-items: flex-start;
  font-size: 11px;
  color: white;
  font-weight: bold;
  text-align: left;
}
section > span {
  display: flex;
  align-items: left;
  font-size: 11px;
  color: white;
  font-weight: bold;
}

.image {
  margin-bottom: 1rem;
  display: block;
  margin: auto;
}
.image > img {
  width: 200px;
  height: 150px;
  max-height: 200px;

  border-radius: 10px;
}
