.body {
  position: relative;
  display: flex;
  justify-content: center;
  height: 30px;
  

}
.body button{
    border-radius: 10px;
    background-color: #790c0c;
    margin-right: 4px;
    color:white;
    border: black solid 2px bold;
    transition: 0.25s ease;
    cursor: pointer;

    
}
.body button :hover{
    background-color: gray;
}
