.Welcome {
    position:fixed;
    padding-left: 12px ;
    display: flex;
    padding: auto;
    background-image: url('https://media.istockphoto.com/id/941858854/es/foto/hierbas-y-especias-para-cocinar-sobre-fondo-oscuro.jpg?s=612x612&w=0&k=20&c=-tjnXFW99fDvIhJ1eoPk_5HKdPl0Iup4MkIeu7TL_00=');
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
    width: 100vw; 
    height: 100vw;
    text-decoration: none;
    max-height: 100%;
    
}

.text{
    position: fixed;
    color: aqua;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    padding-left: 30%;
    text-decoration: none;
    padding-top: 13%;
    align-items: center;
    text-decoration: none;

    cursor:grab
}
.text:hover{
    color: crimson;
}