.Welcome {
    margin: 0%;
    display: flex;
    padding: auto;
    background-image: url(../../Images/depositphotos_52700729-stock-photo-recipes-written-on-chalkboard-close.jpg);
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
    width: 100vw; 
    height: 100vw;
 
}

.text{
    color: aqua;
}