.button {
  display: flex;
  margin-right: 1rem;
  background-color: #790c0c;
  border-radius: 15rem;
  color: white;
  height: 30px;
  font-size: 14px;
  min-width: 23px;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  transition: 0.25s ease;
  cursor: pointer;
}
.button::placeholder {
  color: white;
}
::placeholder{
  color:rgba(255, 255, 255, 0.37);

}

.search {
  background-color: transparent;
  border-radius: 4px;
  border: solid 1px rgba(128, 128, 128, 0.823);
  backdrop-filter: blur(5px);
  width: fit-content;
  display: flex;
  margin-right: 8px;
  justify-content: center;
  align-items: center;
  height: 23px;
  box-shadow: 2px 2px #790c0c;
  color:white;
}

form {
  display: flex;
  flex-direction: row;
  align-content: center;
}
