
.main{
  margin: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 30vw;

}